.container {
  position: absolute;
  margin: 0px 0px ;
  width: 100px;
}
body {
  background-image: url(../img/OrangeCloth.jpg);

 max-height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   font-family: "Segoe UI";
    font-style: oblique;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: -10px -10px 0px ;
  width: 1270px;
}


/* The navbar */
.topnav {
    overflow: hidden;
    background-color: darkorange;
position: relative;
    top: -44px;
}
/* Navbar links */
.topnav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
    text-decoration:none;
  font-size: 25px;
}

.topnav:hover{
    background: rgba(255,128,0,0.5);
}
.topnav h3{
    float: left;
  color: #000000;
  text-align: center;
  text-decoration: none;
    padding-top: 0px;
    margin-top: 7px;
    margin-bottom: 0px;
    border: 3px solid black;
    height: 50px;
    width: 170px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
    left: 500px;
  font-size: 19px;
position: relative;
}
.topnav a:hover {
    background-color: rgba(255,128,0,0.5);
  color: darkblue;
}




.main{
  box-sizing: border-box;
  }

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 150px;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1874CD;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
  text-align: center;
  vertical-align: middle;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1874CD;
  border-right: 0.125rem solid darkorange;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #aaBFFF;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
    box-sizing: border-box;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
    box-sizing: border-box;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
  box-sizing: border-box;
}
.TableHeads{

  width: 200px;
  /*border :1px;*/
  text-space: 1px;
  text-align: center;
}
#placeorder{
    position: relative;
  top: 190px;
  left: 283px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;

}